@media (min-width: 992px){
    .menu-sidebar{width: 250px;}
    .page-container{padding-left: 250px;}
    .main-content{padding-top: 100px;}
    .header-desktop{left: 250px;}
}
a{text-decoration: none;}
.au-input{height: 43px !important;}
.form-group{margin-bottom: 20px;}
.page-wrapper{padding-bottom: 0px;}
.page-wrapper, .page-container{background: #f4f6f9;}
.section__content--p20{padding: 0 20px;}
.section__content--p10{padding: 0 10px;}
.dark_sidebar, .dark-bg {background: #343a40;}
.white-bg{background: #ffffff;}
.menu-sidebar{box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;z-index: 11;}
.menu-sidebar .logo{border: none;justify-content: center;background: none;box-shadow: none;border-bottom: 1px solid #dee2e6;border-bottom: 1px solid #4b545c;}
.header-desktop{border-bottom: 1px solid #dee2e6;box-shadow: none;}
.navbar-sidebar{padding: 20px 10px;}
.navbar-sidebar .navbar__list li a{padding: 0.5rem 1rem;color: #c2c7d0;border-radius: 0.25rem;margin-bottom: 0.2rem;}
.navbar-sidebar .navbar__list li a:hover, .navbar-sidebar .navbar__list li.active a{background-color: rgba(255,255,255,.1);color: #fff;}
.header-wrap{column-gap: 30px;}
.account-info-main{column-gap: 30px;}
.account-info .account-info-box{font-size: 14px;color: #ffffff;background: #17a2b8;padding: 5px 10px;border-radius: 5px;}
.account-log a{font-size: 14px;color: #333333;font-weight: 500;}
.account-log a:hover{color: #666666;}
.account-log a i{margin-right: 10px;}
.login-content{position: relative;}
.bg-img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
.login-form{position: relative;}
.page-wrapper.login{padding-bottom: 0px;}
/* .login-form label{color: #ffffff;} */
.card-main{margin-bottom: 30px;}
.card{padding: 20px;box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);margin-bottom: 1rem; height: 100%;}
.card h2{font-size: 1.3rem;margin-bottom: 1rem;}
.form-group label{display: block;margin-bottom: 5px;}
.card .head{min-height: 48px;}
.card .head .daterange{border: 1px solid #e5e5e5;padding: 10px 15px;max-width: 262px;width: 100%;}
.card .head .daterange input{width: 100%;}
.account-item .image, .account-dropdown .info .image{border-radius: 50%;}
.account-item .image img, .account-dropdown .info .image img{width: 100%;height: 100%;}
.account-item .image i{font-size: 45px;}
.account-dropdown .info .image i{font-size: 65px;}
.account-dropdown__item p{color: #333;padding: 5px 25px;font-size: 14px;}
.account-item > .content > a:hover, .bars-icon:hover {color: #666666;}
.bars-icon{color: #333333;}
.bg-blue{background: #17a2b8!important;}
.bg-green{background: #28a745!important;}
.bg-yellow{background: #ffc107!important;}
.bg-red{background: #dc3545!important;}
.bg-orange{background: #ff8300 !important;}
.bg-grey{background: #454d55 !important;}
.overview-item--c1 {background-image: -moz-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);background-image: -ms-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);}
.overview-item--c2 {background-image: -moz-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);background-image: -ms-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);}
.overview-item--c3 {background-image: -moz-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);background-image: -ms-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);}
.overview-item--c4 {background-image: -moz-linear-gradient(90deg, #45b649 0%, #dce35b 100%);background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);background-image: -ms-linear-gradient(90deg, #45b649 0%, #dce35b 100%);}
.card .deal-component{border-radius: 0.25rem;box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);display: block;padding: 30px;position: relative;overflow: hidden;}
.card .deal-component h3, .card .advertiser-component h4{font-weight: 600;color: #ffffff;}
.card .deal-component h5{color: #ffffff;font-weight: 400;font-size: 1.2rem;margin-top: 10px;}
.card .deal-component .icon-box {display: inline-block;position: absolute;bottom: -10px;right: -7px;opacity: 0.3;}
.card .advertiser-component h4{width: calc(100% - 60px);padding-left: 10px;font-size: 1rem;color: #000000;}
.card .advertiser-component{box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);border-radius: 0.25rem;background: #e5e5e5;padding: 0.5rem;position: relative;width: 100%;}
.advertiser-component .info-icon{border-radius: 0.25rem;-ms-flex-align: center;align-items: center;display: -ms-flexbox;display: flex;font-size: 1.5rem;-ms-flex-pack: center;justify-content: center;
text-align: center;width: 60px;height: 60px;color: #ffffff;}
.icon-box {display: inline-block;position: absolute;bottom: -50px;right: -7px;}
.popup-form label{width: 100%;display: block;margin-bottom: 5px;font-size: 1rem;font-weight: 600;}
.popup-form input{width: 100%;}